// COLORS COLORS COLORS COLORS COLORS
$color-base: #01080a;
// $color-base: #fbbc42;
// $color-base: #e76a24;
// $color-base: #1c4595;
$color-contrast: #e7e5e8;
// $color-contrast: #01080a;
// $color-contrast: #F0F8FF;
// $color-contrast: #D6DADE;

// $color-primary: #49fcd4;
// $color-primary: #fbbc42;
$color-primary: #96BDE3;
// $color-primary: #3E4E5E;
// $color-primary: #e76a24;
// $color-secondary: #43d9b8;
$color-secondary: #3E4E5E;
// $color-secondary: #96BDE3;
// $color-secondary: #e7e5e8;
// $color-secondary: #1c4595;
// $color-secondary: #fbbc42;
// $color-tertiary: #1c4595;
// $color-tertiary: #96BDE3;
$color-tertiary: #3E4E5E;
// $color-tertiary: #5B5C5E;

// FONTS FONTS FONTS FONTS FONTS
$font-primary: "Source Sans Pro", Helvetica, sans-serif;